mixin popover(company)
  .popover(id="#{company.uid}")
    .glass-panel
    .container.popover-view.gray-bg
      .row.popover-items
        .col-xs-12.dark-bg
          if company.getImage("stack.logo")
            img.icon-md.m-auto( src = company.getImage("stack.logo").url )
          h2.bold #{company.getText("stack.title")}
          p #{company.getText("stack.about")}
          .space-1
          h3 Why we use them.
          ul
            each awesome in company.data['stack.awesomeness'].value
              li #{awesome.description.value}
        .space-2
        .col-xs-12.popover-btns
          a.btn-default.btn-large.btn-primary-blue(href="#{company.getText('stack.url')}?utm_source=Standard%20Stack&utm_medium=Website&utm_term=sone&utm_campaign=Standard%20Stack" target="_blank") Go to #{company.getText("stack.title")}
        .col-xs-12.popover-btns
          a.btn-default.btn-large.btn-gray.close Back to Standard Stack
            
extends layout
        
block content  
  .companies.tertiary-bg
    .container
      each category, index in results
        .row
          .col-md-4.col-xs-12.gray-txt
            h3.bold #{index}
          .col-md-8.col-xs-12
            each company in category  
              .company( data-id="#{company.uid}" ).dark-bg
                .company-logo
                  .cover.icon-sm
                  img.icon-sm.m-auto( src = company.getImage("stack.logo").url )
                .company-name
                  p.m-b-0.gray-txt #{company.getText("stack.subcategory")}
                  h2.m-b-0.serif.grow #{company.getText("stack.title")}
              +popover(company)
        .space-4
            
  
  .email.gray-bg
    .container
      .row
        .col-xs-12
          h3.m-b-0 Subscribe to our mailing list
          p Stay updated with the latest tools and trends for startups.
      form#mc-embedded-subscribe-form.validate(action='//standardstack.us13.list-manage.com/subscribe/post?u=70e526146648ccb2f41acb139&id=ccf6c62b63', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='' class="row form-item")
        .col-md-8.col-xs-12
          .mc-field-group
            label(for='mce-EMAIL') Email Address
            input#mce-EMAIL.required.email(type='email', value='', name='EMAIL' placeholder="Email address" class="form-control")
          #mce-responses.clear
            #mce-error-response.response(style='display:none')
            #mce-success-response.response(style='display:none')
          div(style='position: absolute; left: -5000px;', aria-hidden='true')
            input(type='text', name='b_70e526146648ccb2f41acb139_ccf6c62b63', tabindex='-1', value='')
        .col-md-4.col-xs-12.email-btn
          .clear
            input#mc-embedded-subscribe.button.m-b-0(type='submit', value='Subscribe', name='subscribe')
      .space-2
      .row.hello
        .col-xs-12
          p Don't want to sign up, but still want to say hello? 
            a(href='mailto:hi@standardstack.com') Email us.
