-var title = 'Standard Stack'

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta( content="width=device-width, user-scalable=no", name="viewport" )
    meta( name="description", content="Curated list of the best tools for growing startups.")
      
    meta( property="og:title", content="Standard Stack" )
    meta( property="og:type", content="website" )
    meta( property="og:url", content="http://standardstack.com" )
    meta( property="og:description", content="Curated list of the best tools for growing startups." )
    meta( property="og:image", content="http://standardstack.com/images/logo/ss-logo.png" )
    meta( property="og:image:width", content="90" )
    meta( property="og:image:height", content="89" )
      
    meta( property="twitter:card", content="summary_large_image" )
    meta( property="twitter:url", content="http://standardstack.com" )
    meta( property="twitter:title", content="The best tools for growing startups." )
    meta( property="twitter:description", content="Curated list of the best tools for growing startups." )
    meta( property="twitter:image", content="http://standardstack.com/images/logo/ss-logo.png" )
    title= title
    
    link(rel='apple-touch-icon', sizes='57x57', href='/images/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/images/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/images/apple-touch-icon-76x76.png')
    link(rel='icon', type='image/png', href='/images/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/images/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/images/manifest.json')
    link(rel='mask-icon', href='/images/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='theme-color', content='#ffffff')
    
    script.
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '228651694179977');
      fbq('track', "PageView");

    noscript
      img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=228651694179977&ev=PageView&noscript=1")

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-76666463-1', 'auto');
      ga('send', 'pageview');
    
    block css
      link(rel='stylesheet', href='/css/app.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block header
      .main.primary-bg
        .container
          .row
            .col-xs-12
              img.icon-sm( src="/images/logo/ss-logo-white-bg.svg" alt ="standard stack logo" )
              .space-2
          .row
            .col-xs-12
              h1 Standard Stack
              h3.quaternary-txt.light.m-b-0.book Curated list of the best tools for growing startups.
    block content
    block footer
      .footer.quaternary-bg
        .container
          .row.center-xs
            .col-xs-12
              p.dark-bg.small Standard Stack© 2016 | Curated by the team at 
                a(href="https://www.pana.com/" target="_blank") Pana

    
    block scripts
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
      script(src='/js/app.js')
